*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
  }
  body{
  background-color: #1ea8b5;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  font-family: "Kumbh Sans", sans-serif;
  background-image: url("images/bg-pattern-top.svg"),url("images/bg-pattern-bottom.svg");
  background-repeat: no-repeat,no-repeat;
  background-position: right 50vw bottom 50vh,left 50vw top 50vh;
 
 
  
 }
  .main{
    max-width: 350px;
    height: 375px;
    display: flex;
    flex-flow: column nowrap;
    margin-top: 12.5%; 
    overflow:hidden;
    background-color: white;
    border-radius: 10px;
  }
  .f{
    opacity: .18;
    position:absolute;
    filter:brightness(1.1);
    mix-blend-mode: multiply;
    width: 20%;
    
    
 
  }
    .victor{
      position: relative;
      margin-top: -70px;
      margin-left: 15%;
      width: 250px;
      height: 250px;
    
  
    }
    .victor img{
      
      margin-top: -50px;
      margin-left: 25%;
      max-width: 50%; 
      display: block;
    }
    #l{
      margin-top: -48px;
    
    }

    
    .nombre{
      border-bottom: 1px solid #76777c;
     height: 150px;
      text-align: center;
      padding-top: 20px;/*8%*/
      text-transform: capitalize;
      font-size: 30px;
    
      
     
     
    }
    .nombre h1{
      display: inline;
      margin-top: -18%;
      margin-right: 5%;
      
      
    }
    .nombre h3{
      display: inline;
      font-size: 18px;
      color: #76777c;
    }
    .nombre h2{
      margin-top: 1%;
      color: #76777c;
      padding-bottom: 2%;
      font-size: 15px;
      
    }
    .datos{
      display: flex;
      margin-top: 5%;
      
      
    }
    .datos h3{
      font-size: 18px;
    }
    .datos h3,h4{
      margin-left:50px;
      padding: 2%;
    }
    h4{
      color: #76777c;
      font-size: 12px;
    }
    .followers h4{
      margin-left: 45%;
    }
    .like h4{
      text-align: center;
    }
    .boton{
      width: 100px;
      height: 50px;
      border: 1px solid black;
      cursor: pointer;
      background-color: #41CBD3;
      margin-top: 3vh;
      border-radius: 10px;
      text-align: center;
      padding-top: 2vh;
      font-size: 3vh;
      text-decoration: none;

    }
 
    
    .attribution { font-size: 11px; text-align: center;margin: 1%;}
    .attribution a { color: hsl(228, 45%, 44%); }


    /*movil*/
  